storage: none
framework: net9.0
source https://api.nuget.org/v3/index.json

nuget AngleSharp 
nuget Autofac
nuget Autofac.Extensions.DependencyInjection
nuget Catalyst
nuget Catalyst.Models.English
nuget Humanizer.Core
nuget JetBrains.Annotations
nuget Newtonsoft.Json
nuget NLog
nuget System.Reactive.Linq

group _Console
    storage: none
    framework: net9.0
    source https://api.nuget.org/v3/index.json

    nuget CommandLineParser
    nuget Spectre.Console
    nuget Spectre.Console.Cli